/***************************************
           Universal Styles
***************************************/
*{
   margin: 0;
   padding:0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

/***************************************
           Navbar Styles
***************************************/
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -55px;
}

.logo{
    width: 250px;
}

nav .logo{
    margin-top: 90px;
 margin-left: -50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #fff;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/***************************************
           Header Styles
***************************************/
.header-col-1{
    flex-basis: 50%;
}

.header-col-2{
    flex-basis: 50%;
    
}

.header-col-2 img{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 15px;
}

.header-text p{
    font-size: 16px;
}

.header-text h1{
    font-size: 45px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.header-text span{
    color: #355E3B;
    text-shadow: -0.5px 0.5px 1px #355E3B;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fa-brands,.fa-solid{
    color: #355E3B;
    font-size: 25px;
    margin: 5px;
}

/***************************************
           About Styles
***************************************/
#about{
    padding: 365px 0;
    color:#ababab
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width: 95%;
    border-radius: 50px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
 
/***************************************
           Video Styles
***************************************/

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 50%;
}

#body{
    position: relative;
    overflow: hidden; /* Ensure video does not overflow from the header */
}

/* Additional CSS for content positioning */
.content {
    position: relative;
    text-align: center;
    padding: 100px;
    color: white;
}

/***************************************
           Porfolio Styles
***************************************/
#athletes{ 
    paddin: 50px 0;
}

.porfolio-list{
    display: grid;
    grid
}